<% provide(:title, "Home") %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container home-container">
    <h1>Output Reading</h1>
    <p>Output Readingでは読書のアウトプットを<br>いつでもどこでも気軽に行うことができます。</p>
    <p>さらに書き出したものを投稿することで、<br>過去に読んだ本の内容を振り返ることができます。</p>
    <%= link_to "アカウントを作成する",signup_path,class:"btn btn-md btn-outline-success" %>
    <%= link_to 'ゲストログイン（閲覧用）', guest_login_path, method: :post,class:"btn btn-md btn-outline-info guest-login-btn" %>
  </div>
</div>
