<% provide(:title, "Home") %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1>Output Reading</h1>
    <p>Output Readingでは読書のアウトプットを<br>いつでもどこでも気軽にできる場を提供します。</p>
    <p>さらに書き出したものを投稿することで、<br>同じ趣味を持つ仲間とつながることができます。</p>
    <%= link_to "アカウントを作成する","#",class:"btn btn-md btn-outline-success" %>
  </div>
</div>
