<% provide(:title, "ログイン") %>
<div class="container form-container login-container">
  <div class="row">
    <div class="col">
      <h1 class="login-title">ログイン</h1>
      <%= render "form"%>
      <p class="form-go-to-signup-or-login">アカウントをお持ちでない場合は<%= link_to "こちら", signup_path %>から登録できます。</p>
      <p class="form-go-to-password-reset">パスワードを忘れた方は<%= link_to "こちら", new_password_reset_path %>から再設定できます。</p>
    </div>
  </div>
</div>
