<% provide(:title, "ログイン") %>
<div class="container form-container login-container">
  <div class="row">
    <div class="col">
      <h1 class="login-title">ログイン</h1>
      <%= render "sessions/form"%>
      <p class="form-go-to-signup-or-login">アカウントをお持ちでない場合は<%= link_to 'こちら', signup_path %>から登録できます。</p>
    </div>
  </div>
</div>
