<% provide(:title, 'プロフィール編集') %>
<% provide(:submit_text, 'この内容に変更する') %>
<% provide(:url,   user_path) %>
<div class="container edit-container">
  <div class="edit-title">
    <h1 class="form-title form-title-edit">プロフィール編集</h1>
    <%= render "users/form" %>
  </div>
</div>
