<% provide(:title, "プロフィール編集") %>
<% provide(:submit_text, "この内容に変更する") %>
<% provide(:url,   user_path) %>
<div class="container edit-container">
  <div class="row">
    <div class="col">
      <h1 class="edit-title">プロフィール編集</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
