<% provide(:title, "新規ユーザー作成") %>
<% provide(:submit_text, "この内容で登録する") %>
<% provide(:url, signup_path) %>
<div class="container signup-container">
  <div class="row">
    <div class="col">
      <h1 class="signup-title">新規ユーザー作成</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
