<% provide(:title, '新規ユーザー作成') %>
<div class="container signup-container">
  <div class="row">
    <div class="col">
      <h1 class="signup-title">新規ユーザー作成</h1>
      <%= render "users/form" %>
    </div>
  </div>
</div>
