<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="title-container">
    <h1 class = "title-users-show" >プロフィール</h1>
  </div>
  <div class="row">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <p><%= link_to "登録内容を編集する", edit_user_path if  current_user?(@user) %></p>
    </section>
  </div>
</div>
