<ul class="result">
  <% @books.each do |book| %>
  <li class="result-book">
    <div class="result-image">
      <%= link_to image_tag(book.medium_image_url,size:"180x240"), book.item_url ,class:"result-image"%>
    </div>
    <div class="result-content">
      <p><%= link_to book.title, book.item_url %></p>
      <p><%= link_to "著者:#{book.author}",book.item_url%></p>
    </div>
  </li>
  <% end %>
</ul>
