<% provide(:title, @book.title) %>
<div class="container books-show-container">
  <div class="row">
    <div class="col">
      <h2 class="title-container"><%= @book.title %></h2>
      <%= render "chapters"%>
    </div>
  </div>
</div>
