/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

// universal

 body{
  background-image: image-url("body_background.jpg");
  padding-top:7rem;
 }

// button
 .btn-extend {
   width: 8.5rem;
 }

// header
 .navbar-extend {
   margin-bottom: 0;
   background-color: limegreen;
   ul li a button {
     padding: 0.375rem 1.5rem;
   }
 }

 .navbar-brand{
  font-size: 1.43rem;
  background-color:white;
  padding: 0.28rem 0.92rem 0.42rem 0.92rem;
  margin: 0.14rem;
  border-radius: 0.63rem;
  font-family:cursive,Century;
 }

 .nav-item-extend a{
   margin-left: 1rem;
   float: right;
   margin-top: 0.6rem;
 }

// jumbotron
 .jumbotron-extend {
  margin-top:1.8rem;
  background-color:white;
  border: 0.63rem double darkorange;
  border-radius: 4.4rem;
  .home-container{
    text-align: center;
    h1{
      margin-bottom:2.5rem;
      font-family:cursive,Century;
    }
    p{
      font-family:serif,Century;
      font-size: 1.2rem;
      margin-bottom:1.25rem;
    }
    p:last-of-type{
      margin-bottom: 2.2rem;
    }
  }
 }

// Signup
 .signup-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
 }

// Form
 .form-group:first-of-type{
   margin-top: 1.8rem;
 }
 .form-group{
   padding:0.4rem 0;
 }
 .form-submit{
   width:100%;
 }

 .image-form , .books-image-form{
   height:auto;
   margin-top:0.4rem;
 }



 #error_explanation {
   text-align: center;
   color: red;
   ul {
     display: inline-block;
     text-align: left;
     color: red;
     padding:1rem 0 ;
   }
 }
 .field_with_errors .form-control {
   border-color: red;
 }

// login
 .login-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
   }
 .form-go-to-signup-or-login{
   margin-top:1.8rem;
 }


// Alert
 .alert{
   text-align: center;
 }
 .alert-form-extend {
   margin: 1.5rem 0 1rem;
 }

// Book
 .non-book{
   text-align: center;
   border: 0.065rem solid green;
   display: block;
   padding:2rem 0;
 }

 .books{
   list-style: none;
   padding-left: 0;
   li{
    padding:1rem;
    margin-bottom:1rem;
    border: 0.065rem solid green;
    .book-edit-delete-btn{
      padding-right: 0.6rem;
    }
  }
 }

 .book-title a{
   padding:0.3rem 0;
   color: black;
   display: block;
   white-space: pre-line;
   &:hover{
     background-color: honeydew;
     text-decoration: none;
   }
 }

 // Book index
 .books-index-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   .title-container{
     text-align: center;
     padding-bottom: 2rem;
   }
   .user-image-book-title{
     margin-left: 0.1rem;
   }
  .user-name{
    color: green;
  }
  .book-timestamp{
    text-align: right;
  }
 }

 // Books show
 .books-show-container{
   margin-top:2rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   .title-container{
     white-space: pre-line;
     text-align: center;
     padding-bottom: 2rem;
   }
   .chapters {
     list-style: none;
     padding-left:0;
     text-align: left;
     .chapter-timestamp{
       margin-top: 1rem;
       text-align: right;
     }
     li{
       padding:0.6rem 0.6rem 0.6rem 0.6rem;
       border: 0.063rem solid green;
       border-bottom: 0.063rem solid green;
       .chapter-number{
         color:green;
       }
       .chapter-edit-delete-btn{
         text-align: right;
         .smart-btn{
           width:100%;
           margin:0.5rem 0;
         }
       }
       .chapter-content{
         white-space: pre-line;
       }
     }
   }
 }

// Books new
 .books-new-container{
   margin-top:2rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   .title-container{
     text-align: center;
     padding-bottom: 2rem;
   }
 }
// Books edit
 .books-edit-container{
   margin-top:2rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
   .title-container{
     text-align: center;
     padding-bottom: 2rem;
   }
 }

// User
 // Users show
 .users-show-container{
   margin-top:2rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   .title-container{
     text-align: center;
     padding-bottom: 2rem;
   }
   .users_info{
     border:0.065rem solid green;
     padding: 1.5rem 0 3rem 1rem;
     margin-bottom: 3.5rem;
     .profile-edit{
       text-align: right;
       padding-right: 5rem;
     }
     .profile{
       font-size: 1.7rem;
     }
   }
 }

 // Users edit
 .users-edit-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
 }

 // Users index
 .users-index-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
   .users {
     list-style: none;
     padding-left: 0;
     text-align: left;
     li{
       overflow: auto;
       padding: 0.65rem 0;
       border: 0.065rem solid palegreen;
       padding-left:1rem;
       .user-name{
         color: green;
       }
     }
   }
 }

 // Pagination
 .pagination{
   padding-top:1.5rem;
   justify-content: center;
   .page-item {
     &.active .page-link{
       background:limegreen;
    }
    .page-link{
      border:none;
      margin:0 0.04rem;
      border-radius: 50%;
      &:hover{
        background:palegreen;
      }
    }
  }
}

 // PasswordResets
 .password_reset-container{
   margin-top:1.8rem;
   padding:3.5rem;
   background-color:white;
   border: 0.63rem double darkorange;
   border-radius: 4.4rem;
   text-align: center;
 }
