<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#222222;">
      <%= link_to "Output Reading", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="login_path" class="nav-link"><button class="btn btn-outline-light  btn-md">ログイン</button></a></li>
      </ul>
    </div>
  </nav>
</header>
