<li class="nav-item nav-item-extend"><%= link_to "投稿一覧", books_path, class: "btn btn-light btn-md btn-extend" %></li>
<li class="nav-item nav-item-extend"><%= link_to "新規登録", signup_path, class: "btn btn-light btn-md btn-extend" %></li>
<li class="nav-item nav-item-extend"><%= link_to "ログイン", login_path, class: "btn btn-light btn-md btn-extend btn-login-extend" %></li>
