<li class="nav-item nav-item-extend"><%= link_to 'ユーザー一覧', users_path, class: "btn btn-light btn-md btn-extend" %></li>
<li class="nav-item nav-item-extend"><%= link_to 'プロフィール', current_user, class: "btn btn-light btn-md btn-extend" %></li>
<li class="nav-item nav-item-extend"><%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-light  btn-md btn-extend btn-logout-extend" %></li>
